<p id="notice"><%= notice %></p>
<p>Welcome <%= current_user.name %>!</p>
<h1>Current Blog Posts</h1>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
  <div class="col-md-6">
    <div class="panel panel default">
      <div class="panel-heading">
        <h3><%= link_to blog_post.title, blog_post %></h3>
      </div>
      <div class="panel-body">
        by: <%= link_to blog_post.user.username, user_posts_path(id: blog_post.user.id) %><br>
        <p><%= blog_post.blog_entry[0..250] %>... <%= link_to "Read More...", blog_post %></p>
      </div>
      <div class="panel-footer">
      <!--   <%= link_to 'Show', blog_post, class:"btn btn-primary" %> -->
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
        Posted: <%= time_ago_in_words(blog_post.created_at) %> ago
        <%= link_to 'Destroy', blog_post, method: :delete, data:{confirm:'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>


