<h1><%= @user.username %>'s Page</h1>

<p><strong>Name:</strong><%= @user.name %></p>
<p><strong>Birthday:</strong><%= @user.birthday.strftime("%m/%d/%Y") %></p>

<div class="row">
	<% @user.blog_posts.each do |blog_post| %>
  <div class="col-md-12">
    <div class="panel panel default">
      <div class="panel-heading">
        <h3><%= link_to blog_post.title, blog_post %></h3>
      </div>
      <div class="panel-body">
        by: <%= blog_post.user.username %><br>
        <p><%= blog_post.blog_entry[0..250] %>... <%= link_to "Read More...", blog_post %></p>
      </div>
      <div class="panel-footer">
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
        Posted: <%= time_ago_in_words(blog_post.created_at) %> ago
        <%= link_to 'Destroy', blog_post, method: :delete, data:{confirm:'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
 <%end%>
</div>
<br>
